body {
    margin: 0;
    background: url(img/bgtop.png) no-repeat;
    background-position: 50% 0;
    background-color: #d2dae0;
}
a{
    font-family: Calibri;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
h2, h3, h4{
    margin: 0;
    font-family: Calibri;
    color: #fff;
}
h3{
    font-size: 18px;
    font-weight: bold;
}
h4{
    font-size: 18px;
}
img{
    border: 0;
}
p{
    font-family: Calibri;
    font-size: 12px;
    color: #030303;
}

.wrapper{
    width: 970px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}
.header{
    background: url(img/header.png);
    background-repeat: no-repeat;
    position: relative;
    width: 961px;
    display: inline-block;
    z-index: 2;
}
.logo{
    margin: 0;
    text-align: center;
}
.login{
    border: none;
    width: 202px;
    height: 230px;
    margin: 0;
    background: url(img/login.png);
    background-repeat: no-repeat;
    position: absolute;
    top: -6px;
    left: -12px;
    padding: 0;
    padding-top: 82px;
}
#fname, #password{
    width: 139px;
    height: 22px;
    border: 2px solid #173173;
    box-shadow:  0px 0px 8px #a0a3ad inset;
    border-radius: 5px;
    margin: 0 0 10px 23px;
    padding: 0 7px;
    color: #787c7e;
}
#enter{
    margin: 5px 0  15px 23px ;
    background: #e1e1e1; /* Old browsers */
    background: -moz-linear-gradient(top,  #e1e1e1 1%, #797a7b 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e1e1e1), color-stop(99%,#797a7b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e1e1e1 1%,#797a7b 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e1e1e1 1%,#797a7b 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e1e1e1 1%,#797a7b 99%); /* IE10+ */
    background: linear-gradient(to bottom,  #e1e1e1 1%,#797a7b 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#797a7b',GradientType=0 ); /* IE6-9 */
    border: 1px solid #114c8b;
    border-radius: 5px;
    height: 24px;
    width: 77px;
    color: #fff;
    cursor: pointer;
    font-family: Calibri;
    font-weight: bold;
    
}
.linc{
    margin-left: 24px;
    font-size: 14px;
}
.basket{
    border: none;
    width: 214px;
    height: 230px;
    margin: 0;
    background: url(img/basket.png);
    background-repeat: no-repeat;
    position: absolute;
    top: -6px;
    right: -11px;
    padding:0;
    padding-top: 80px;
}
#search{
    width: 41px;
    height: 22px;
    border: 2px solid #173173;
    box-shadow:  0px 0px 8px #a0a3ad inset;
    border-radius: 5px;
    margin: 0 0 0 38px; 
    color:#787c7e;
    font-family: Calibri;
    padding-left: 110px;
}
.basket p{
    font-family: Calibri;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    margin: 15px 0 0 42px;
    padding-bottom: 8px;
    
}
.basket a{
    margin-left: 42px;
}
.basket .basket1{
    position: absolute;
    top: 175px;
    right: 21px;
}
.basket .kons{
    margin-top: 15px;
    display: block;
}
.imm, .immright{
    font-family: Calibri;
    font-size: 24px !important;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    
}
.imm{
    margin: -45px 0 0 70px;
    float: left;
}
.immright{
    margin: -45px 70px 0 0;
    float:right;
}


.main-nav{
    background: url(img/line.png);
    background-repeat: no-repeat;
    margin: -4px 0 8px -4px;
    position: relative;
}
.main-nav:after {
    content: ""; clear: both; display: block;
}

#nav {
    line-height: 40px;
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-table;
}
*+html #nav {
    height: 1%;
}
#nav:after {
    content: ""; clear: both; display: block;
}

#nav > li {
    float: left;
    margin: 0 48px;
}
#nav > li:first-child{
    margin-left: 24px;
}
#nav li a{
    text-decoration: none;
    font-size: 18px;
    cursor: default;
}
#nav li:hover a{
    text-decoration: underline;
}

#nav ul {
    display: none;
    list-style: none;
    position: absolute; 
    background: url(img/drop.png) no-repeat;
    margin: 0;
    padding: 0;
    top: 100%;
    z-index: 11;
    width: 187px;
    height: 174px;
}

#nav li:hover > ul {
    display: block;
}
#nav ul li {
    float: none; 
    position: relative;
}
#nav ul li a{
    font-size: 14px;
    line-height: 16px;
    text-decoration: none !important; 

}
#nav ul li:hover{
    text-decoration: underline;
}
#nav ul li a {
    display: block;
    padding: 2px 10px;
}




.shadow{
    background: url(img/shadow.png) no-repeat;
    width: 949px;
    margin: 0 auto;
    height: 322px;
    position: relative;
    z-index: 10;
    margin-bottom: -23px;
}


.slideshow {
    z-index: 1;
      margin:0 auto;
      width:900px;
      height:298px;
      position:relative;
}
.slideshow .slidesContainer {
  margin:0 auto;
  width:900px;
  height:298px;
  overflow:hidden;
  position:relative;
}
.slideshow .slidesContainer .slide {
  margin:0 auto;
  width:900px;
  height:298px;
}
.control {
  display:block;
  width:62px;
  height:263px;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
}
#leftControl {
  top:20px;
  left:-9px;
  background:transparent url("img/arrowleft.png") no-repeat 50% 50%; 
  z-index: 5;
}
#rightControl {
  top:20px;
  right:-9px;
  background:transparent url("img/arrowright.png") no-repeat 50% 50%;
}

.content{
    width: 960px;
    border: 3px solid #12127e;
    background: #fff;
    padding-bottom: 80px;
    border-radius: 6px;

}
.content:after {
    content     : ".";
    visibility  : hidden;
    display     : block;
    height      : 0;
    clear       : both;
}
.center{
    float: left;
    margin-top: 30px;

}
.leftcolumn{
    float: left;
}
.rightcolumn{
    float: right;
}
.leftcolumn, .rightcolumn{
    margin-top: 43px;
 
}
.leftcolumn, .rightcolumn .item{
    width: 210px;
}
.item {
    position: relative;
}
.item:after{ content: ""; display: block; clear: both;}
.item .title-holder{
    width: 223px;
    height: 57px;
    text-align: center;
    text-transform: uppercase;
}
.leftcolumn .item .title-holder{
    background: url(img/img-left.png) no-repeat;
    margin-left: -12px;
}
.rightcolumn .item .title-holder{
    background: url(img/img-right.png) no-repeat;
     margin-right: -13px;
}
.item .title-holder h3{
   display: inline-block;
   vertical-align: middle;
}
.center .item h4{
    background: #1b1d70; /* Old browsers */
    background: -moz-linear-gradient(top,  #1b1d70 1%, #000047 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#1b1d70), color-stop(100%,#000047)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1b1d70 1%,#000047 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1b1d70 1%,#000047 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1b1d70 1%,#000047 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1b1d70 1%,#000047 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1d70', endColorstr='#000047',GradientType=0 ); /* IE6-9 */
    width: 499px;
    height: 34px;
    border-radius: 6px;
    margin-left: -7px;
    text-align: right;
    padding: 9px 20px 0 0;
}
.center .item{
    width: 505px;
    margin: 0 0 7px 16px;
    box-shadow: 0 1px #a4a5c6;
    border-bottom: 2px solid #1b1d70;
}
.center .item:after {
    content     : ".";
    visibility  : hidden;
    display     : block;
    height      : 0;
    clear       : both;
}

.center .item img{
    float: left;
    margin: 5px 15px 0 20px;
}
.center .item p{
    margin: 26px 0 37px 0;
    padding-right: 20px;
}
.center .item a{
    color: #1d156b;
    font-size: 12px;
    float: right;
    text-decoration: underline;
    margin-right: 17px;
    padding-bottom: 8px;
}
.developments, .master{
    padding-left: 8px;
    margin: 0;
}
.developments a, .master a{
    font-size: 14px;
    line-height: 24px;
    color: #090b5e;
    
}
.developments li, .master li{
    list-style: none;
    margin: 10px 0;
}
.rightcolumn ul{
    padding: 0;
    margin: 10px 0;
}
.news li{
    list-style: none;
    overflow: hidden;
}
.news img{
    float: left;
    border: 2px solid #16186b;
    margin: 0 5px;
}
.news p{
    color: #00004f;
    font-size: 14px;   
}
.rightcolumn .master {
    padding-left: 10px;
}
.rightcolumn .kontakt li{
    list-style: none;
    color: #00004f;
    font-family: Calibri;
    font-size: 16px;
}
.clearfloat {
    clear: both;
    }
.empty {
    height: 50px;
    }
    

.footer-holder {
    position: relative;
    margin: -135px auto 0;
    background-position: 0 50%;
    background: url(img/footer.png) no-repeat;
}
.footer{
    width: 970px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 38px;
    padding-bottom: 20px;
}
.footer .nav{
    float: left;
    width :190px;
    margin-right: 37px;
    margin-bottom: 0;
}
.footer ul{
    margin: 0;
}
.footer h5{
    margin: 20px 0 12px 0;
}
.footer h5>a{
    font-size: 18px !important;
    font-weight: bold;
    margin: 0 0 0 29px;
}
.footer li{
    color:#fff; 
}
.footer li a{
    font-family: Arial;
    font-size: 12px;
}
.nav-holder{
    overflow: hidden;
    padding-top: 35px;
}
.footer p{
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0 0 0;
}
